/* .main{
    background-color: aqua;
    height: auto;
    width: 80%;
    margin: auto;
    text-align: center;
    display: flex;
    padding: 20px 10px;
    gap: 30px;
}
.card{
    background-color: black;
    color: white;
    padding: 20px 10px;
} */
